<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por añadir una sugerencia. Recibiras un e-mail para confirmarla y que aparezca
        en la web. Si no te llega este correo en 1 hora, revisa tu carpeta de spam. Si aun así
        no encuentras el correo ponte en contacto con nosotros en <a href="mailto:elbuzondelciudadano@gmail.com">elbuzondelciudadano@gmail.com</a></h1>

  </body>
</html>