<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por añadir una sugerencia.</h1>
        <h2>No olvides confirmarla para que aparezca en la web. </h2>
        <p>En breve recibiras un e-mail con un link de confirmacion. Si no te llega este correo en 1 hora, revisa tu carpeta de spam. Si aun así no encuentras el correo ponte en contacto con nosotros en <a href="mailto:elbuzondelciudadano@gmail.com">elbuzondelciudadano@gmail.com</a></p>

  </body>
</html>